{% extends "boost/base.html" %}
{% load static %}
{% block content %}
<!-- Main Content Area -->
<div class="content" id="content">
    <h2>Add {{fin_type}} Category</h2>
    <form method='POST'>
      {% csrf_token %}
      <div class="form-group">
        <label>{{fin_type}} Category Name:</label>
        {{form.name}}
      </div>
      <button type="submit" class="btn btn-primary">Add {{fin_type}} Category</button>
    </form>
    <br>
    <h2>{{fin_type}} Categories</h2>
    <table id='model' class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">{{fin_type}} Category Name</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for data in database %}

          <tr>
            <td>{{data.id}}</td>
            <td>{{data.date_created}}</td>
            <td>{{data.name}}</td>
            <td><a href="{% url "boost:fin-categories-delete" fintype=fin_type_plural pk=data.id %}" class="btn btn-sm btn-danger">X</a></td>
          </tr>

        {% endfor %}

      </tbody>
    </table>
  </div>
  <script src="{% static 'boost/js/table_model.js' %}"></script>
  <!-- Bootstrap JS (optional, for Bootstrap components) -->
{% endblock content %}