{% extends "boost/base.html" %}

{% load static %}

{% block content %}
    <!-- Main Content Area -->
<div class="content">
    
  <h2>Hello {{ request.user }}</h2>
    
</div>
<div class="container">
  <div class="container overflow-hidden">
    <div class="row gx-5">
      <div class="col">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-chart">
            <a id="showExpChart">
            <div class="card-header text-center"><h2 class="card-title">Expenses</h2></div>
            <div class="card-body">
              <h3 class="card-text text-center">{{expenses_total}}</h3>
            </div>
            </a>
          </div>
          
        </div>
        
       </div>
      <div class="col">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-chart">
            <a id="showIncChart">
          <div class="card-header text-center"><h2 class="card-title">Incomes</h2></div>
          <div class="card-body">
            <h3 class="card-text text-center">{{incomes_total}}</h3>
          </div>
        </a>
      </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-chart">
            <a id="showNetChart">
              <div class="card-header text-center"><h2 class="card-title">Net</h2></div>
              <div class="card-body">
                <h3 class="card-text text-center">{{net}}</h3>
              </div>
            </a>
        </div>
      </div>
        
      </div>
      <div class="col">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-chart">
            <a id="showSaveChart">
              <div class="card-header text-center"><h2 class="card-title">Savings</h2></div>
              <div class="card-body">
                <h3 class="card-text text-center">{{savings_total}}</h3>
              </div>
            </a>
        </div>
      </div>
      
    </div>
    <div id='app'>
      <div id='dateFilter'>
        <h4>Filter by month, year or category</h4>
        <table class='optionsTable'>
          <tr class='optionsRow'>
            <td>
              <select id='month' name="month">
                <option value='' selected='selected'>Month</option>
                <option value='1'>January</option>
                <option value='2'>February</option>
                <option value='3'>March</option>
                <option value='4'>April</option>
                <option value='5'>May</option>
                <option value='6'>June</option>
                <option value='7'>July</option>
                <option value='8'>August</option>
                <option value='9'>September</option>
                <option value='10'>October</option>
                <option value='11'>November</option>
                <option value='12'>December</option>      
              </select>
            </td>
            
            <td>
              <input id='year' name="year_to_filter" placeholder='{{year}}' type='number' min='1900' max='2020'/>
            </td>

            <td>
              <select id='category' name="category">
                <option value='' selected='selected'>Category</option>

              </select>
            </td>

          </tr>
        </table>
      </div>
      
    </div>
    <h3 id="chart-instruc" class="text-center" style="margin-top: 10rem;">Click on the cards above to show a chart!</h3>
    <div style="height: 30rem;">
      <canvas id="myChart"></canvas>
    </div>
    
    
  </div>
  
</div>

<div class="row">
  <div class="col-sm-12" url-endpoin='{% url "boost:api_expenses_data" %}'>
    
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'boost/js/home.js' %}"></script>

{% endblock content %}