{% extends "boost/base.html" %}

{% block content %}
<!-- Main Content Area -->
<div class="content" id="content">
    <h2>Update Income</h2>
    <form id="expenseForm" method='POST'>
      {% csrf_token %}
      <div class="form-group">
        <label for="expenseName">Income Name:</label>
        {{form.name}}
      </div>
      <div class="form-group">
        <label for="expenseName">Income Category:</label>
        {{form.categories}}
      </div>
      <div class="form-group">
        <label for="expenseAmount">Income Amount:</label>
        {{form.amount}}
      </div>
      <div class="form-group">
        <label for="expenseAmount">Date:</label>
        {{form.date_created}}
      </div>
      <button type="submit" class="btn btn-primary">Edit</button>
    </form>
  
  <!-- Bootstrap JS (optional, for Bootstrap components) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}